/* .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}


img.medium {
    max-width: 29rem;
    width: 100%;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
} */

.product {
    cursor:pointer;
    padding: 1.5em;
    border: 1px solid rgb(204, 204, 204); 
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 7px 2px rgba(0,0,0,.03);
}
.product img {
width: 100%;
height: 160px;
object-fit: cover;
}

.product h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    }

.product p {
    font-size: .9em;
    margin-bottom: .5rem;
}

.product button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.product button {
    background-color: white; 
    color: black; 
    border: 2px solid #e7e7e7;
}

.product button:hover {
    /* background-color: #b6b6b6; */
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    font-weight:lighter;
}

