html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111517;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  height: 100%;
}



.home {
  display:grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;   
}

header {
  grid-area: header;
  background-color: #003bdd;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, .06);
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #003bdd;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.foot {
  justify-content: center;
}

a.brand {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
}

a {
  text-decoration: none;
}




